.statistics{
    width: 512px;
}
.list {
    list-style: none;
    padding:0px;
    display: flex;
    justify-content: center;
}
.title{
    width: 512px;
    line-height: 1.5;
}
.item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:center;
    width: 80px;
    height: 80px;
    margin: 4px;
}
.label{
    font-size: 20px;
    color: ivory;
}
.percentage{
    font-size: 26px;
    font-weight: 600;
    color: ivory;
}